*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(66, 170, 192);
    height: 10vh;
}
body{
    background-image: linear-gradient(to bottom, rgb(245, 245, 245), rgb(73, 144, 72));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    color: white;
}
.background-lateral{
    background-image: url(./img/background\ lateral.png);
    width: 35vw;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container-cadastro{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: end;
    margin-right: 18vw;
    margin-top: -60vh;
    gap: 36px;
}
label{
    font-size: 30px;
    margin-right: 5px;
    font-family: 'Inter', sans-serif;
    color: white;
}
input{
    border: none;
    width: 500px;
    height: 49px;
    font-size: 30px;
}
input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
.mensagem-login{
    display: flex;
    margin-top: -8vh;
    gap: 5px;
    color: black;
    justify-content: center;
    margin-right: 8vw;
}
p{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}
.link-login{
    font-family: 'Inter', sans-serif;
}